@import "@/less/modules/pay-form.less";
@import "@/less/modules/button.less";
@import "@/less/modules/amount-input.less";
@import "@/less/modules/base-input.less";

@import "@/less/mixins/box-shadow-transition.less";

@import "@/less/gilroy.less";

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Gilroy", sans-serif;
}

html {
  height: 100%;

  overflow-x: hidden;
}

body {
  height: 100%;

  font-size: 14px;

  background-color: #E5E5E5;
}

.wrapper {
  max-width: 500px;
  height: 100%;

  margin: 0 auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -moz-box-pack: center; 
  -ms-flex-pack: center; 
  justify-content: center;
}

@media screen and (max-width: 535px) {
  .wrapper {
    display: block;
  }
}