@import "@/less/modules/pay-form.less";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Gilroy", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;

  font-size: 14px;
}

