.button {
  max-width: 212px;
  width: 100%;
  height: 56px;

  color: #fff;
  background-color: #0085FF;

  -webkit-box-shadow: 0px 7px 17px rgba(0, 133, 255, 0.25);
  -moz-box-shadow: 0px 7px 17px rgba(0, 133, 255, 0.25);
  box-shadow: 0px 7px 17px rgba(0, 133, 255, 0.25);

  border: none;
  outline: none;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;

  border-radius: 15px;

  cursor: pointer;

  .box-shadow-transition();

  &:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 535px) {
  .button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
  }
}