.pay-form {
  margin-top: 181px;
  margin-bottom: 181px;
  max-width: 500px;

  &__title {
    font-weight: 600;
    font-size: 24px;

    text-align: center;
  }

  &__body {
    min-width: 500px;

    margin-top: 30px;
    padding: 56px 38px;

    background-color: #fff;

    box-shadow: 0px 56px 65px rgba(0, 0, 0, 0.05);

    border-radius: 30px;

    transition: min-height linear 0.4s;

    &_minheight1 {
      min-height: 598px;
    }

    &_minheight2 {
      min-height: 554px;
    }
  }

  &__methods {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    white-space: pre-wrap;
  }

  &__method {
    width: 204px;
    height: 127px;

    margin-top: 30px;
    margin-left: 16px;

    background-color: #fff;

    border: 3px solid #0000002c;
    border-radius: 20px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: box-shadow ease 0.3s;

    cursor: pointer;

    img {
      width: 9rem;
    }

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:hover {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    &_active {
      transition: box-shadow ease 0.3s, border linear 0.3s;

      border: 3px solid #0085ff;
    }
  }

  &__actions {
    width: 100%;
    height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: visibility 0s linear 0.5s, opacity linear 0.5s,
      height cubic-bezier(0.33, 1, 0.68, 1) 0.5s;

    opacity: 0;
    visibility: hidden;

    &_active {
      visibility: visible;

      height: 202px;

      opacity: 1;

      transition-delay: 0s;
    }
  }

  &__amount {
    margin-top: 49px;
  }

  &__btn {
    margin-top: 35px;
  }

  &__default {
    opacity: 0;

    visibility: hidden;

    transition: visibility 0s linear 0.8s, opacity linear 0.2s;

    &_active {
      visibility: visible;

      opacity: 1;

      transition-delay: 0s;
    }
  }

  &__pay {
    height: 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;

    visibility: hidden;

    transition: visibility 0s linear 0.8s,
      opacity cubic-bezier(0.33, 1, 0.68, 1) 2.2s;

    &_active {
      height: 100%;

      visibility: visible;

      opacity: 1;

      transition-delay: 0s;
    }
  }

  &__total-amount {
    font-weight: 600;
    font-size: 33px;

    margin-top: 40px;
    padding: 0px 12px 12px 12px;

    color: #000;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 6px;

      background-color: #0085ff;

      box-shadow: 0px 8px 20px rgba(0, 133, 255, 0.25);

      border-radius: 17px;
    }
  }

  &__phone-number {
    margin-top: 44px;
  }

  &__email {
    margin-top: 24px;
  }

  &__pay-logo {
    min-width: 152px;
    min-height: 68px;
  }
}

@media screen and (max-width: 375px) {
  .pay-form {
    margin-top: 115px;
  }
}

@media screen and (max-width: 535px) {
  .pay-form {
    &__title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
    }

    &__body {
      min-width: 0;
      max-width: 315px;

      border-radius: 21px;

      padding: 27px 25px;
      margin: 30px auto;

      &_minheight2 {
        min-height: 499px;
      }
    }

    &__methods {
      justify-content: center;
    }

    &__method {
      max-width: 235px;
      max-height: 97px;

      width: 100%;

      margin-left: 0;
      margin-top: 16px;

      img {
        width: 7rem;
      }

      &:nth-child(2) {
        margin-top: 16px;
      }
    }

    &__amount {
      width: 100%;

      &-input {
        width: 100%;
      }
    }

    &__btn {
      width: 100%;
    }

    &__total-amount {
      font-size: 33px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0em;
    }

    &__phone-number {
      margin-top: 55px;
    }
  }
}
